@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  }

body {
    font-family: "Inter" !important;
  }

.text {
    font-family: "Inter" !important;
    font-style: normal;
}

*{
    font-family: "Inter" !important;
    font-style: normal;

}

.rbc-calendar{
    min-height: 600px;
}